/*
Link Sources:
1. http://www.echoecho.com/csslinks.htm
*/

div.BANNER
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 150px;		
}

div.LEFT_BANNER
{
	position: absolute;
	top: 81px;
	left: 0px;
	width: 0px;
}

div.POLE
{
	position: absolute;
	top: 81px;
	left: 0px;
	width: 0px;
	height: 20px;		
}















*/
